<template>
  <div>
    <p v-if="$fetchState.pending">Carregando...</p>
    <p v-else-if="$fetchState.error">An error occurred :(</p>
    <v-row v-if="fleet" justify="start" align="center">
      <v-col
        v-for="device in fleet.owns__device"
        :key="device.uuid"
        cols="12"
        lg="4"
        md="6"
        xs="12"
      >
        <NuxtLink :to="`/devices/${device.uuid}/summary`">
          <Device :device="device" :type="fleet.type" />
        </NuxtLink>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fleet: null,
    }
  },
  async fetch() {
    try {
    const fleet = await this.$axios.$get(`/api/fleet/${this.$route.params.id}`)
    const type = await this.$axios.$get(`/api/deviceType/${fleet.is_for__device_type.__id}`)
    this.fleet = {
      ...fleet,
      type
    }
    } catch (err) {
      console.error(err)
    }
  }
}
</script>
