<template>
  <span>{{ formatted }}</span>
</template>
<script>
export default {
  props: {
    value: {
      type: Number,
      default: () => 0,
    },
  },
  computed: {
    formatted: function () {
      function formatBytes(bytes, decimals = 2) {
        if (bytes === 0) return '0 Bytes'

        const k = 1024
        const dm = decimals < 0 ? 0 : decimals
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB', 'PB', 'EB', 'ZB', 'YB']

        const i = Math.floor(Math.log(bytes) / Math.log(k))

        return parseFloat((bytes / Math.pow(k, i)).toFixed(dm)) + ' ' + sizes[i]
      }
      return formatBytes(this.value)
    },
  },
}
</script>
