<template>
  <v-row>
    <v-col cols="3">
      <v-row>
        <v-col cols="12">
          <v-icon>mdi-chip</v-icon>
          <span>{{ device.cpu_usage }}%</span>
        </v-col>
        <v-col cols="12">
          <v-progress-linear
            v-if="graphics"
            rounded
            :value="device.cpu_usage"
            color="lime"
            background-color="deep-orange"
            striped
            height="25"
          ></v-progress-linear>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="3">
      <v-row>
        <v-col cols="12">
          <v-icon>mdi-thermometer</v-icon>
          <span>~{{ device.cpu_temp }}C</span>
        </v-col>
        <v-col cols="12">
          <v-progress-linear
            v-if="graphics"
            rounded
            :value="(device.cpu_temp * 100) / 65"
            color="lime"
            background-color="deep-orange"
            striped
            height="25"
          ></v-progress-linear>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="3">
      <v-row>
        <v-col cols="12">
          <v-icon>mdi-memory</v-icon>
          <span
            ><Bytes :value="device.memory_usage * 1000000" /> /
            <Bytes :value="device.memory_total * 1000000"
          /></span>
        </v-col>
        <v-col cols="12">
          <v-progress-linear
            v-if="graphics"
            rounded
            :value="(device.memory_usage * 100) / device.memory_total"
            color="lime"
            background-color="deep-orange"
            striped
            height="25"
          ></v-progress-linear>
        </v-col>
      </v-row>
    </v-col>
    <v-col cols="3">
      <v-row>
        <v-col cols="12">
          <v-icon>mdi-sd</v-icon>
          <span
            ><Bytes :value="device.storage_usage * 1000000" /> /
            <Bytes :value="device.storage_total * 1000000"
          /></span>
        </v-col>
        <v-col cols="12">
          <v-progress-linear
            v-if="graphics"
            rounded
            :value="(device.storage_usage * 100) / device.storage_total"
            color="lime"
            background-color="deep-orange"
            striped
            height="25"
          ></v-progress-linear>
        </v-col>
      </v-row>
    </v-col>
  </v-row>
</template>
<script>
export default {
  props: {
    device: {
      type: Object,
      default: () => {},
    },
    graphics: {
      type: Boolean,
      default: () => true,
    },
  },
}
</script>
