<template>
  <v-card class="mx-auto" color="primary" dark>
    <v-card-title>
      <v-list-item-avatar color="white">
        <img
          height="50"
          rounded
          :alt="type.name"
          max-height="50"
          max-width="50"
          :src="type.logo"
          color="white"
        />
      </v-list-item-avatar>
      <span class="text-h4 font-weight-light">{{ device.device_name }}</span>
      <span class="caption ml-8">
        <v-icon :color="device.is_online ? 'green' : 'red'">{{
          device.is_online ? 'mdi-check' : 'mdi-cancel'
        }}</v-icon>
        <span class="pl-1">{{ device.is_online ? 'online' : 'offline' }}</span>
      </span>
      <span v-if="device.is_undervolted" class="pl-4">
        <v-icon color="deep-orange">mdi-lightning-bolt</v-icon>
      </span>
    </v-card-title>
    <v-card-text class="caption font-weight-light mt-12 px-4">
      <DeviceNetwork :device="device" :type="type" />
      <v-divider class="py-4"></v-divider>
      <DeviceInfo :device="device" :graphics="false" />
      <!--
      <div>
        <v-icon>mdi-chip</v-icon>
        <span>{{ device.cpu_usage }}%</span>
      </div>
      <div>
        <v-icon>mdi-thermometer</v-icon>
        <span>{{ device.cpu_temp }}</span>
      </div>
      <div>
        <v-icon>mdi-memory</v-icon>
        <span>{{ device.memory_usage }} / {{ device.memory_total }}</span>
      </div>
      <div>
        <v-icon>mdi-sd</v-icon>
        <span>{{ device.storage_usage }} / {{ device.storage_total }}</span>
      </div>
      <span>{{ device.overall_status }}</span>
      <span>{{ device.overall_progress }}</span>
      <span>{{ device.ip_address }}</span>
      <span>{{ device.vpn_address }}</span>

      <span>{{ device.mac_address }}</span>
      <span>{{ device.os_variant }}</span>

      <span>{{ device.os_version }}</span>

      <span>{{ device.status }}</span>
      <span>{{ device.supervisor_version }}</span>
      <span>{{ device.uuid }}</span> -->
    </v-card-text>
    <v-card-actions> </v-card-actions>
  </v-card>
</template>
<script>
export default {
  props: {
    device: {
      type: Object,
      default: () => {},
    },
    type: {
      type: Object,
      default: () => {},
    },
  },
}
</script>
