<template>
  <v-row align="start" justify="space-between" class="px-4 pb-8">
    <v-col cols="3">
      <v-row>
        <span class="overline pb-1">tipo</span>
      </v-row>
      <v-row>
        <span class="">
          <span>{{ type.name.split('(')[0] }}</span>
        </span>
      </v-row>
    </v-col>
    <v-col cols="3">
      <v-row>
        <span class="overline pb-1">uuid</span>
      </v-row>
      <v-row>
        <span class="">
          <span>{{ device.uuid.substring(0, 7) }}</span>
        </span>
      </v-row>
    </v-col>
    <v-col cols="3">
      <v-row>
        <span class="overline pb-1">ip local</span>
      </v-row>
      <v-row>
        <span class="">
          <span>{{ device.ip_address }}</span>
        </span>
      </v-row>
    </v-col>
    <v-col cols="3">
      <v-row>
        <span class="overline pb-1">ip túnel</span>
      </v-row>
      <v-row>
        <span class="">
          <span>{{ device.vpn_address }}</span>
        </span>
      </v-row>
    </v-col>
  </v-row>
</template>
<script>
export default {
  props: {
    device: {
      type: Object,
      default: () => {},
    },
    type: {
      type: Object,
      default: () => {},
    },
    status: {
      type: Boolean,
      default: () => false,
    },
  },
}
</script>
