<template>
  <v-row justify="start">
    <v-col v-if="device.is_undervolted" cols="12" lg="6">
      <v-card height="120" class="mx-auto px-4 py-12" color="error">
        <v-icon>mdi-lightning-bolt</v-icon>
        <span>Dispositivo está com baixa voltagem</span>
      </v-card>
    </v-col>
    <v-col v-if="device.is_online" cols="12" lg="6">
      <v-card height="120" class="mx-auto py-4 px-4" color="primary" dark>
        <DeviceInfo :device="device" />
      </v-card>
    </v-col>
    <v-col cols="12" lg="6">
      <v-card class="mx-auto px-4 py-4" color="primary" dark>
        <v-card-title>
          <v-row justify="start" align="center">
            <v-col cols="12" lg="6" sm="6">
              <span class="text-h4 font-weight-light">{{
                device.device_name
              }}</span>
            </v-col>
            <v-col cols="12" lg="6" sm="6">
              <v-row>
                <v-col cols="12" sm="6">
                  <v-btn disabled rounded>
                    <v-icon> mdi-restart </v-icon>
                    Reiniciar
                  </v-btn>
                </v-col>
                <v-col cols="12" sm="6">
                  <v-btn disabled rounded>
                    <v-icon> mdi-delete </v-icon>
                    Deletar
                  </v-btn>
                </v-col>
              </v-row>
            </v-col>
          </v-row>
        </v-card-title>
        <v-card-text class="text-h6 font-weight-light mt-12">
          <v-row align="start" justify="space-between" class="pb-8">
            <v-col cols="3">
              <v-row>
                <span class="overline pb-8">status</span>
              </v-row>
              <v-row>
                <v-icon :color="device.is_online ? 'green' : 'red'">{{
                  device.is_online ? 'mdi-check' : 'mdi-cancel'
                }}</v-icon>
                <span class="pl-2">{{
                  device.is_online ? 'online' : 'offline'
                }}</span>
              </v-row>
            </v-col>

            <v-col cols="3">
              <v-row>
                <span class="overline">tipo</span>
              </v-row>
              <v-row align="center">
                <v-col cols="3">
                  <v-list-item-avatar color="white">
                    <img
                      height="50"
                      rounded
                      :alt="type.name"
                      max-height="50"
                      max-width="50"
                      :src="type.logo"
                    />
                  </v-list-item-avatar>
                </v-col>
                <v-col cols="8">
                  <span class="caption">{{ type.name.split('(')[0] }}</span>
                </v-col>
              </v-row>
            </v-col>
            <v-col cols="3">
              <v-row>
                <span class="overline pb-8">ip local</span>
              </v-row>
              <v-row>
                <span class="">
                  <span>{{ device.ip_address }}</span>
                </span>
              </v-row>
            </v-col>
            <v-col cols="3">
              <v-row>
                <span class="overline pb-8">ip túnel</span>
              </v-row>
              <v-row>
                <span class="">
                  <span>{{ device.vpn_address }}</span>
                </span>
              </v-row>
            </v-col>
          </v-row>
          <v-divider class="py-6"></v-divider>
          <v-row align="start" justify="space-between" class="caption">
            <v-col cols="3">
              <v-row>
                <span class="overline pb-2">Endereços de MAC</span>
              </v-row>
              <v-row>
                <span>{{ device.mac_address }}</span>
              </v-row>
            </v-col>

            <v-col cols="3">
              <v-row>
                <span class="overline pb-4">Variante OS</span>
              </v-row>
              <v-row align="center">
                <span class="text-uppercase">{{ device.os_variant }}</span>
              </v-row>
            </v-col>
            <v-col cols="3">
              <v-row>
                <span class="overline pb-4">Versão OS</span>
              </v-row>
              <v-row>
                <span class="">
                  <span>{{ device.os_version }}</span>
                </span>
              </v-row>
            </v-col>
            <v-col cols="3">
              <v-row>
                <span class="overline pb-4">Versão supervisor</span>
              </v-row>
              <v-row>
                <span class="">
                  <span>{{ device.supervisor_version }}</span>
                </span>
              </v-row>
            </v-col>
          </v-row>
          <!-- <span>{{ device.overall_status }}</span>
          <span>{{ device.overall_progress }}</span>
          <span>{{ device.status }}</span> -->
        </v-card-text>
        <v-card-actions> </v-card-actions>
      </v-card>
    </v-col>
  </v-row>
</template>
<script>
export default {
  props: {
    device: {
      type: Object,
      default: () => {},
    },
    type: {
      type: Object,
      default: () => ({
        name: 'No name',
        logo: '',
      }),
    },
  },
}
</script>
