<template>
  <v-card class="mx-auto" color="primary" dark>
    <v-card-title>
      <v-list-item-avatar color="white">
        <img
          height="50"
          rounded
          :alt="fleet.type.name"
          max-height="50"
          max-width="50"
          :src="fleet.type.logo"
          color="white"
        />
      </v-list-item-avatar>
      <span class="text-h4 font-weight-light">{{ fleet.app_name }}</span>
    </v-card-title>

    <v-card-text class="text-h6 font-weight-light">
      <v-row align="center" justify="center" class="text-center">
        <v-col cols="12">
          <span class="text-h3">{{ fleet.owns__device.length }}</span>
        </v-col>
        <v-col cols="12">
          <span class="text-caption">Dispositivos</span>
        </v-col>
      </v-row>
      <v-progress-linear
        rounded
        :value="
          (fleet.owns__device.filter((device) => {
            return device.is_online
          }).length *
            100) /
          fleet.owns__device.length
        "
        color="lime"
        background-color="deep-orange"
        striped
        height="25"
      ></v-progress-linear>
    </v-card-text>
    <v-card-actions> </v-card-actions>
  </v-card>
</template>
<script>

export default {
  props: {
    fleet: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
