<template>
  <div>
    <p v-if="$fetchState.pending">Carregando...</p>
    <p v-else-if="$fetchState.error">An error occurred :(</p>
    <DeviceSummary v-if="device" :device="device" :type="type" />
  </div>
</template>

<script>
export default {
  data() {
    return {
      device: null,
      type: null
    }
  },
  async fetch() {
    try {
    const device = await this.$axios.$get(`/api/device/${this.$route.params.id}`)
    const type = await this.$axios.$get(`/api/deviceType/${device.is_of__device_type.__id}`)
    this.device = device
    this.type = type
    } catch (err) {
      console.error(err)
    }
  }
}
</script>
