<template>
  <v-app dark>
    <v-app-bar dense app>
      <v-btn icon>
        <v-icon v-if="$route.path !== '/'" @click="$router.go(-1)"
          >mdi-chevron-left</v-icon
        >
      </v-btn>
      <v-toolbar-title></v-toolbar-title>
      <v-spacer></v-spacer>
      <v-btn icon @click="logout"><v-icon>mdi-power</v-icon></v-btn>
      <v-spacer />
    </v-app-bar>
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
    <v-footer app>
      <v-col class="text-center" cols="12">
        <span
          >Com ❤ por
          <a class="text-decoration-none white--text" href="https://coolab.org"
            >Coolab</a
          >
          &copy; {{ new Date().getFullYear() }}</span
        >
      </v-col>
    </v-footer>
  </v-app>
</template>
<script>
export default {
  methods: {
    logout: async function () {
      await this.$auth.logout()
      if (window) window.location.reload(false);
    }
  }
}
</script>
