<template>
  <div>
    <p v-if="$fetchState.pending">Carregando...</p>
    <p v-else-if="$fetchState.error">An error occurred :(</p>
    <v-row v-if="fleets" justify="start" align="center">
      <v-col
        v-for="fleet in fleetsWithType"
        :key="fleet.uuid"
        cols="12"
        lg="4"
        md="6"
        xs="12"
      >
      <NuxtLink prefetch :to="`fleet/${fleet.id}`">
        <Fleet :fleet="fleet" />
      </NuxtLink>
      </v-col>
    </v-row>
  </div>
</template>

<script>
export default {
  data() {
    return {
      fleets: null,
      deviceTypes: null,
    }
  },
  async fetch() {
    const deviceTypes = await this.$axios.$get(`/api/deviceTypes`)
    const fleets = await this.$axios.$get(`/api/fleets`)
    this.fleets = fleets
    this.deviceTypes = deviceTypes
  },
  computed: {
    fleetsWithType: function () {
      return this.fleets.map((fleet) => {
        const type = this.deviceTypes.filter((type) => {
          return type.id === fleet.is_for__device_type.__id
        })
        return {
          ...fleet,
          type: type[0],
        }
      })
    },
  },
}
</script>
