<template>
  <v-row justify="center" align="center">
    <v-col cols="12" sm="8" md="6">
      <v-card class="logo py-4 d-flex justify-center">
        <CoolabLogo />
      </v-card>
      <v-card>
        <v-card-title class="headline"> Painel Balena </v-card-title>
        <form @submit.prevent="userLogin">
          <v-card-text>
            <v-text-field
              v-model="login.email"
              :error="error"
              label="Email"
              type="email"
              required
            ></v-text-field>
            <v-text-field
              v-model="login.password"
              :error-messages="errorMessage"
              :error="error"
              label="Password"
              type="password"
              required
            ></v-text-field>
          </v-card-text>
          <v-card-actions>
            <v-spacer />
            <v-btn color="primary" type="submit">
              <p>{{ $t('login') }}</p>
            </v-btn>
          </v-card-actions>
        </form>
      </v-card>
    </v-col>
  </v-row>
</template>

<script>
export default {
  layout: 'plain',
  data() {
    return {
      loading: false,
      errorMessage: '',
      error: false,
      login: {
        email: '',
        password: '',
      },
    }
  },
  methods: {
    async userLogin() {
      try {
        await this.$auth.loginWith('local', { data: this.login })
      } catch (err) {
        this.errorMessage = err.toString()
        this.error = true
      }
    },
  },
}
</script>
